name: Deploy Frontend to S3

on:
  push:
    branches:
      - main
    paths:
      - 'index.html'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pobranie najnowszego kodu
        uses: actions/checkout@v3
        
      - name: Autoryzacja polaczenia z AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          
      - name: Automatyczny Wrzut do S3
        run: aws s3 cp index.html s3://moje-chmurowe-zadania-2026-wojtek/index.html --acl public-read